---
---

<div class="equal-height columns main-columns">
  <div class="first cell width-9">
    <div class="blog-posts">
      {% for posts in paginator.posts %}
      <a
        href="{{ posts.url }}"
        style=""
        rel="bookmark"
        id="post-38838"
        class="post post-38838 type-post status-publish format-standard has-post-thumbnail sticky hentry category-developers tag-blog tag-update tag-xamarin ui-link"
      >
        <div class="balanced columns">
          <div class="cell width-8 width-12-on-small-desktop">
            <h1>{{ posts.title }}</h1>
            <div class="meta">
              <img src="assets/themes/images/author.png" width="116"
              height="116" alt="{{ posts.category }}" class="avatar avatar-116
              wp-user-avatar wp-user-avatar-116 alignnone photo">
              <div>
                <div>Hiếu Nguyễn</div>
                <div>
                  <span>{{ posts.date | date: "%F %H:%M" }}</span>
                  <span class="hide-on-mobile tag-list">{{
                    posts.category
                  }}</span>
                </div>
              </div>
            </div>

            <div class="entry-summary hide-on-mobile">
              <p>
                {{
                  posts.content | strip_html | strip_newlines | truncate: 170
                }}
                […]
              </p>
            </div>

            <div class="continue-reading hide-on-mobile">
              <span class="label">Đọc tiếp</span>
            </div>
          </div>

          <div class="width-4 cell thumbnail">
            <img
              width="2122"
              height="1598"
              src="{{ posts.background-image }}"
              class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
              alt=""
            />
          </div>
        </div>
      </a>

	  {% endfor %}
	  	{% include pagination.html %}
      
    </div>
  </div>
  {% include tags.html %}
</div>
