
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ page.title }} - {{ site.title }}</title>
 
  <link rel="profile" href="http://gmpg.org/xfn/11" />
  <link rel="pingback" href="xmlrpc.php" />

  <link rel="shortcut icon" href="/style/favicons/favicon.ico" />

<link rel='stylesheet' id='crayon-css'  href='/assets/plugins/crayon-syntax-highlighter/css/min/crayon.min2f6a.css?ver=_2.7.2_beta' type='text/css' media='all' />
<link rel='stylesheet' id='crayon-theme-classic-css'  href='/assets/plugins/crayon-syntax-highlighter/themes/classic/classic2f6a.css?ver=_2.7.2_beta' type='text/css' media='all' />
<link rel='stylesheet' id='crayon-font-monaco-css'  href='/assets/plugins/crayon-syntax-highlighter/fonts/monaco2f6a.css?ver=_2.7.2_beta' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css'  href='/assets/themes/css/dist/block-library/style.minaead.css?ver=5.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='theme_style-css'  href='/assets/themes/styleaead.css?ver=5.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='enlighter-local-css'  href='/assets/plugins/enlighter/resources/EnlighterJS.min9086.css?ver=3.9.0' type='text/css' media='all' />

<link rel='stylesheet'  href='/assets/themes/style.css' type='text/css' media='all' />

<script type='text/javascript' src='/assets/themes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>


<script type='text/javascript' src='/assets/plugins/google-analyticator/external-tracking.min380f.js?ver=6.5.4'></script>
