<div id="top-container">
  <div id="global-header">
    <div class="global-bar">
      <div class="wrapper">
        <!--
        <h1 class="xamarin logo">
          <a href="/" title="{{ site.title }}" class="navbar-logo">
            Hieu's Blog
          </a>
        </h1> -->
        <div class="navigation">
          <a class="label ui-link">
            <span class="menu">Menu</span>
            <span class="close icon"></span>
          </a>
          {% assign menu = site.menus.header %}
        {% include menus.html %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
