<ul>

    {% for item in site.data.menus.items %}
        {% if item.children %}
        <li class="dropdown " data-hover="dropdown">
            <a href="{{ item.url }}"  data-toggle title="{{item.title}}">{{item.title}}</a>
                <ul role="menu">
                        {% for item in item.children %}
                          <li>
                            <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                          </li>
                        {% endfor %}
                </ul>
        {% else %}
        <li>
        <a href="{{ item.url }}" title="{{item.title}}">{{item.title}}</a>
        {% endif %}
      
      
      
      </li>
    {% endfor %}
 </ul>