<ul>
    {% for item in site.menus.header %}
        {% if item.children %}
        <li class="dropdown " data-hover="dropdown">
                <ul role="menu">
                        {% for item in item.children %}
                          <li>
                            <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                          </li>
                        {% endfor %}
                </ul>
        {% else %}
        <li>
        {% endif %}
      
        <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
      
      </li>
    {% endfor %}
 </ul>