<div class="cell width-3 column-sidebar hide-on-mobile">
        <ul class="tags">
          <li>
            <a
              style="width: 100%"
              href="/song"
              class="ui-link"
            >
              <!-- The curvy part breaks out of the border-radius clip during transition -->
              <!-- so we make a curvy part that stays still and does not transform/transition. -->
              <span
                class="background-curvy-part"
                style="background-color: #1FAECE"
              ></span>
              <span class="background" style="background-color: #1FAECE"></span>
              Sống
            </a>
          </li>
       
        </ul>
      </div>