<!DOCTYPE>
<html lang="zh-cn" data-scribe-reduced-action-queue="true">
	  <meta http-equiv="x-dns-prefetch-control" content="on">   
	  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
	  <meta http-equiv="Cache-Control" content="no-siteapp"/>  
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
<body class="home blog" gtools_scp_screen_capture_injected="true"><div id="MathJax_Message" style="display: none;"></div>
  {% include header.html %}
  <div id="container">
      <div class="hero index content violet-dark2-bg">
          <div class="local-bar on-dark-bg">
            <div class="wrapper">
              <div class="stretch-columns">
                <div>
                  <h3>
                    <a href="index.html"
                      ><span class="hide-on-mobile">Hiếu </span>Blog</a
                    >
                  </h3>
                  {% if page.title %}
                  <div class="dropdown nav">
                      <a href="#" id="dropdown-label" data-toggle="dropdown" class="show-on-mobile caret" aria-haspopup="true" aria-expanded="false">{{ page.title}}</a>
  <ul class="dropdown-menu" aria-labeledby="dropdown-label">
                              
      <li class="active"><a href="/">{{ page.title}}</a></li>
                                                          
                                  
                          </ul>
</div>
               
                {% endif %}
                </div>
                <div class="search">
                  <form
                    method="get"
                    id="searchform"
                    action=""
                  >
                  <input type="text" class="input" id="cb-search-content" required="true" placeholder="Nhập từ khóa tìm kiếm..." maxlength="30" autocomplete="off">
                    <a class="close" href="#">&times;</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
  
          <div class="tags">
            <a
              style="background-color: #1FAECE"
              href="tag/xamarin-platform/index.html"
              class=""
            >
              Xamarin Platform
            </a>
            <a
              style="background-color: #9378CD"
              href="tag/ios/index.html"
              class=""
            >
              iOS
            </a>
            <a
              style="background-color: #91CA47"
              href="tag/android/index.html"
              class=""
            >
              Android
            </a>
            <a
              style="background-color: #44B8A8"
              href="tag/xamarin-forms/index.html"
              class=""
            >
              Xamarin.Forms
            </a>
            <a
              style="background-color: #2C7797"
              href="tag/xamarin-evolve/index.html"
              class=""
            >
              Xamarin Evolve
            </a>
            <a
              style="background-color: #ADB7BE"
              href="tag/partners/index.html"
              class=""
            >
              Partners
            </a>
            <a
              style="background-color: #F56D4F"
              href="tag/case-studies/index.html"
              class=""
            >
              Case Studies
            </a>
            <a
              style="background-color: #E7963B"
              href="tag/events/index.html"
              class=""
            >
              Events
            </a>
            <a
              style="background-color: #BC3C26"
              href="tag/contests/index.html"
              class=""
            >
              Contests
            </a>
            <a
              style="background-color: #1FAECE"
              href="tag/students/index.html"
              class=""
            >
              Students
            </a>
            <a
              style="background-color: #2C7797"
              href="tag/education/index.html"
              class=""
            >
              Education
            </a>
          </div>
        </div>
        <div class="main-page" id="blog-page">

    
            {% if page.title %}
              
            {% endif %}
            
            <div class="content flush-padding">
                <div class="wrapper">
                    {{ content }}     
                  </div>
            </div>
           
            {% if is_post %}{% include signoff.html %}{% endif %}
          </div>
          {% if is_post %}{% include pagination.html %}{% endif %}
  </div>

{% include foot.html %}
  </body>
</html>
